rect {
    fill: rgb(255,255,255);
    stroke-width:1;
    stroke:rgb(0,0,0);
}
g .label {
    color: black;
}

.causality {
  stroke: #333;
  stroke-width: 1.5px;
}

.conflict {
    stroke: #f00;
  stroke-width: 1.5px;
}


pre { overflow: auto; }


